ul.menu-files li img {
    width: 16%;
    margin-right: 20px;
    box-shadow: 0px 0px 4px;
}
ul.menu-files li {
    list-style: none;
    margin: 10px 0px;
}
ul.menu-files{
    margin: 0px;
    padding: 0px;
}

